.row{
  clear: both;

}

.mazepart{
  float: left;
  width: 50px;
  height: 50px;
  background: white;
}


#fullmaze{
  width: 600px;
  height:600px;
  position: absolute;
}

#mazebot{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
  display: none;

}
#wall{
  background-color: black;
}

#mazepanel{
  position: absolute;
  width:60px;
  top:100px;
  left: 560px;
}
#controlpanel{
  position: absolute;
  top:540px;
  width: 320px;
  height: 120px;
  background-color: tan;
  align-items: center;
  padding: 20px;
  text-align: center;


}
.controlbutton{
  width: 100px;
  height: 50px;
}
#speedbutton{

}
#speedslider{
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
#buttonzone{
  margin-left: auto;
  margin-right: auto;
}
.panelpart{
  float:left;
  width: 50px;
  height: 50px;
  background: white;
  margin-left: 5px;
}
