.row{
  clear: both;

}

.mazepart{
  float: left;
  width: 25px;
  height: 25px;
  background: white;
}


#fullmaze{
  width: 600px;
  height:600px;
  position: absolute;
}

#mazebot{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
  display: none;

}
#wall{
  background-color: black;
}
#botpic{
  height: 50px;
  width: 50px;
}
#mazepanel{
  position: absolute;
  width:60px;
  top:100px;
  left: 620px;
}
#sizepanel{
  position: absolute;
  width:60px;
  top:460px;
  left: 620px;
}
#progresstracker{
  position: absolute;
  width: 200px;
  height: 400px;
  left: 800px;
  border-style: solid;
  border-width: 1px;
  overflow-y:auto;
}
#controlpanel{
  position: absolute;
  top:620px;
  width: 320px;
  height: 120px;
  background-color: tan;
  align-items: center;
  padding: 20px;
  text-align: center;


}
.controlbutton{
  width: 100px;
  height: 50px;
}
#speedbutton{

}
#speedslider{
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
#buttonzone{
  margin-left: auto;
  margin-right: auto;
}
.panelpart{
  float:left;
  width: 50px;
  height: 50px;
  background: white;
  margin-left: 5px;
}
.sizeboy{
  width: 100px;
  height: 40px;
}
