.row{
  clear: both;

}

.mazepart{
  float: left;
  width: 50px;
  height: 50px;
  background: white;
}


#fullmaze{
  width: 600px;
  height:600px;
  position: absolute;
}

#mazebot{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
  display: none;

}
#wall{
  background-color: black;
}

#mazepanel{
  position: absolute;
  top:600px;
}
.panelpart{
  float: left;
  width: 50px;
  height: 50px;
  background: white;
  margin-left: 5px;
}
